/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body{
  max-height: 100%;
  height: 100%;
  margin: 0;
}
.main{
  display: flex;
  height: 100%;
  padding: 0 10px;
  flex-direction: column;
}
.main-content > router-outlet + *{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.right{
  float: right;
}
