<div class="collegs-setting">
	<div class="collegs-setting_title">Projects</div>
	<mat-list >
	  	<mat-list-item *ngFor="let project of projects">
		 	<a matLine>{{project.name}}</a>
		 	<button mat-icon-button (click)="openDialog(project)">
        		<mat-icon>edit</mat-icon>
     		</button>
     		<button mat-icon-button (click)="deletePopup(project)">
        		<mat-icon>delete</mat-icon>
     		</button>
	 	</mat-list-item>
		
	</mat-list>
	<a mat-raised-button (click)="openDialog()">Create</a>
</div>
